.menu_wrapper {
    position: absolute;
    right: 50px;
    top: 50px;

    width: 50px;
    height: 50px;

    background-color: rgba(231, 231, 231, 0.658);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform ease 0.25s;

}
.menu_wrapper:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.menu {
    position: absolute;
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: black;
}
.menu::before, .menu::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: black;
}
.menu::before, .menu::after {
    top: -7px;
}
.menu::after {
    top: 7px;
}

