.quote {
    position: relative;
}
.quote:after {
    position: absolute;
    display: none;
    width: auto;
    height: 20px;
    padding: 10px 20px;
    text-align: center;
    content: attr(data-tooltip);
    background-color: rgba(35, 35, 100, 0.829);
    top: -50px;
    color: white;
    border-radius: 10px;
    font-family: Calibri;
}
.quote:hover:after {
    display: block;
}
